.section-title {
    text-align: center;
    margin-bottom: 40px; /* Increased margin for more spacing */
    color: #3498db; /* Dark color for modern feel */
    font-size: 3em; /* Larger font size for impact */
    text-transform: uppercase; /* Uppercase for modern style */
    font-weight: bold; /* Bold font weight for emphasis */
    letter-spacing: 2px; /* Increased letter spacing for clarity */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle text shadow for depth */
    transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
  }
  
  .section-title:hover {
    color: #2c3e50; /* Lighter color on hover for interaction */
  }
  
  .logo-container {
    
    width: 150px;
  }
  
  .logo-img {
    width: 70%; /* Make the logo fill its container */
    max-height: 150px; /* Set the maximum height of the logo */
  }
  .navbar {
    justify-content: space-between;
  }
  
  .nav-link {
    padding: 0.5rem 1rem;
  }
  
  .navbar {
    backdrop-filter: blur(2px);
  }
  .navbar .nav-link {
    border-right: 1px solid rgba(0, 0, 0, 0.1); /* Adjust color and opacity as needed */
    padding-right: 15px; /* Adjust padding as needed */
  }
  
  /* Removing border-right from the last Nav.Link to avoid extra separator */
  .navbar .nav-link:last-child {
    border-right: none;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 126, 126, 0.13); 
    color: #333; /* Text color */
    padding: 20px;
  }
  
  .footer-left {
    flex: 1;
  }
  
  .footer-right {
    flex: 1;
    text-align: right;
  }
  
  .footer-logo {
    width: 300px; 
    height: 40px;
    margin-right: 300px;
  }
  
  
  
  